<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <title>My Team</title>
        </head>
        <body>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4 text-center">The MF Team</h1>
                    <blockquote class="blockquote">
                        <p class="lead text-center">World Prestige</p>
                    </blockquote>                
                </div>
            </div>
            <div class="container container-fluid">
                <div class="card-deck">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Manager</div>
        <div class="card-body">
            <h5 class="card-title text-center">Sam Jackson</h5>
            <p class="card-text">ID: 1</p>
            <p class="card-text">Email: SJ@Freewill.com</p>
            <p class="card-text">Office #: 10P</p>
        </div>
    </div><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Engineer</div>
        <div class="card-body">
            <h5 class="card-title text-center">Richard Roundtree</h5>
            <p class="card-text">ID: 23</p>
            <p class="card-text">Email: Rich@Freewill.com</p>
            <p class="card-text">GitHub: Shaft.udr</p>
        </div>
    </div><div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Intern</div>
        <div class="card-body">
            <h5 class="card-title text-center">Jason Hill</h5>
            <p class="card-text">ID: 37</p>
            <p class="card-text">Email: JH@Freewill.com</p>
            <p class="card-text">School: WellGram Academy</p>
        </div>
    </div><div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Engineer</div>
        <div class="card-body">
            <h5 class="card-title text-center">Will Smith</h5>
            <p class="card-text">ID: 17</p>
            <p class="card-text">Email: BigWill@Freewill.com</p>
            <p class="card-text">GitHub: Freshprince</p>
        </div>
    </div>  
                </div>
            </div>
        </body>
        </html>